/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #722e85;
  --ifm-color-primary-dark: #6a2978;
  --ifm-color-primary-darker: #632771;
  --ifm-color-primary-darkest: #59205d;
  --ifm-color-primary-light: #813392;
  --ifm-color-primary-lighter: #8a3599;
  --ifm-color-primary-lightest: #963cad;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #74c225;
  --ifm-color-primary-dark: #55af21;
  --ifm-color-primary-darker: #76a51f;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

img {
  width: auto !important;
}